<div class="container detail__page">
    <div class="mt-4 mb-4 px-0">
        <a routerLink="/" class="d-inline-block btn btn-light rounded-circle shadow btn__back">&lt;</a>
        <h1 class="d-inline-block title__page">Car Detail - {{car.name}}</h1>
    </div>
    
    <div class="shadow bg-light px-0">
       <div class="row">
            <div class="col-4">
                <div class="container__pic">
                    <img src="{{car.photo}}" class="detail__pic" />
                </div>                
            </div>
            <div class="col-7">
                <h2>Brand</h2>
                <p>{{car.brand}}</p> 

                <h3>Model</h3>
                <p>{{car.model}}</p>
                
                <h3>Name</h3>
                <p>{{car.name}}</p>

                <h3>Price</h3>
                <p>{{car.price}}</p>

                <h3>Year</h3>
                <p>{{car.year}}</p>

                <h3>Description</h3>
                <p>{{car.description}}</p> 

                <h3>Specifications</h3>
                <p>{{car.specifications}}</p> 
            </div>
       </div>
    </div>    
</div>
